@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap);

*{
    font-family: 'Lato', sans-serif;  
}

body{
    margin: 0 25px;
    background-color: #F5F8FA;
    font-family: 'Lato', sans-serif;
}
/* header and nav section */

.menu{
    display: none;
}

.wppusher-logo{
    width: 110px;
    height: 30px;
}

header nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #979797;
    align-items: center;
}
header ul{
    display: flex;
    right: 0;
}

ul{
    padding: 10px 0;
}

li{
    list-style: none;
}

header a{
    color: #1D2C3C;
    text-decoration: none;
    padding: 10px ;
    font-weight: 400;
}

.links,  header  a:hover{
    border: 1px solid #646E7A;
    margin-left: 20px;
    text-align: center;
    padding: 10px 30px;
    border-radius: 5px;
}

/* main section of the body */

main{
    font-family: 'Lato' sans-serif;
}

main > div{
    width: 50%;
    display: flex;
    margin: 50px auto 20px;
    font-size: 0.9rem;
    box-shadow: 5px 5px 10px #CCD0D2;
}

/* code applying to the first half of the main section */

main > div div:first-child{
    background-color: #fff;
    color: #1D2C3C;
    width: 70%;
    padding: 30px;
    border-radius: 8px 0 0 8px;
}

main > div div:last-child{
    background-color: #1179BF;
    color: #fff;
    width: 30%;
    padding: 30px;
    border-radius: 0 8px 8px 0;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

fieldset{
    border: none;
    padding: 0;
    margin: 24px 0;
    font-weight: 700;
}

.one{
    width: 1.2rem;
}

.two{
    width: 1.4rem;
}

input{
    background-color: #EDEFF2;
    border: 1px solid #CCD0D2;
    padding: 4px;
    margin-top: 10px;
    border-radius: 4px;
}

input[type=email]{
    width: 150%;
    display: block;
}

.card{
    height: 25px;
    padding: 5px 0 0 5px;
    width: 340px;
    background-color: #EDEFF2;
    border-radius: 4px;
}

#month, #year, datalist, option{
    width: 40px;
    border: none;
    padding: 0;
    background-color: #EDEFF2;
    margin: 0;
}

#CVC{
    width: 50px;
}

#CVC, .card input[type=text]{
    border: none;
    background-color: #EDEFF2;
    margin: 0;
}

#month:focus, #year:focus, #CVC:focus{
    outline: none;
}

.button1{
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: #038E7D;
    border: 1px solid #249D6D;
    color: #fff;
    border-radius: 5px;
    margin-top: 24px;
}

.contact{
    text-align: center;
    font-size: 0.8rem;
}

.contact a{
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.button2{
    display: block;
    margin: 0 auto;
    background-color: #566473;
    border: none; 
    color: #fff;
    font-size: 0.8rem;
    padding: 4px;
}

.button2 > span{
    font-family: cursive;
    font-weight: bold;
    font-size: 1rem;
}

/* code applying to the second half of the main section */

div p:first-child{
    font-weight: 700;
}

.amount{
    font-size: 1.6rem;
}

.italic{
    font-style: italic;
}

.list{
    margin: 28px 0;
}

.list li{
    padding: 8px 0;
}

li img, .contact img{
    width: 0.8rem;
    margin-right: 8px;
}

fieldset img{
    width: 1.4rem;
    margin-right: 8px;
}

div a{
    color: #fff;
    font-size: 0.8rem;
}

hr{
    margin-top: 24px;
    border-bottom: 1px solid #CCD0D2;
    border-top: none;
}

.ftp{
    margin-top: 24px;
}

.kiki{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* last part of the body outside of the main */

.terms-of-service{
    text-align: center;
    font-size: 0.8rem;
}

.terms-of-service > a{
    color: #31708F;
    text-decoration: none;
}

@media (max-width : 924px) {
    .links,  header  a:hover{
        border: 1px solid #646E7A;
        margin-left: 10px;
        text-align: center;
        padding: 10px 10px;
        border-radius: 5px;
    }

    main > div{
        width: 70%;
        display: flex;
        margin: 50px auto 20px;
        font-size: 0.9rem;
    }

    .form{
        display: block;
    }

    .form span, input{
        display: block;
    }
    input, input[type=email]{
        width: 80%;
        margin-bottom: 10px;
    }

    .card{
        height: unset;
        width: unset;
        background-color: #fff;
    }
    
    #month, #year{
        width: 20%;
        margin: 10px 0;
        display: inline;
    }
    
    #CVC{
        width: 50px;
    }
}

@media (max-width : 675px){
    li a{
       font-size: 0.8rem; 
       font-weight: 400;
    }

    .links,  header  a:hover{
        border: 1px solid #646E7A;
        text-align: center;
        padding: 10px 2px;
        border-radius: 5px;
    }

    main > div{
        width: 90%;
        display: flex;
        margin: 50px auto 20px;
        font-size: 0.9rem;
    }
}

@media (max-width : 610px){
    main > div{
        display: block;
        margin: 50px auto 20px;
        font-size: 0.9rem;
        box-shadow: none;
    }

    main > div div:first-child, main > div div:last-child{
        display: block;
        width: 80%;
        margin: 30px 0;
        border-radius: 6px;
    }

    nav{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #979797;
        position: relative;
    }

    header .nav-ul{
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #fff;
        box-shadow: 2px 3px 8px grey;
    }
    .show{
        display: block!important;
    }

    .nav-links{
        display: block;
        text-align: center;
    }

    .menu{ 
        display: block;
        margin-right: 0;
        width: 2rem;
    } 

    .menu > img{
        width: 100%;
        height: 100%;
    }
    
    header ul li img{
        width: 150px;
    }

    

}